<!DOCTYPE html>
<html >
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="dirPagination.js"></script>
	<script src="script.js"></script>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
   <h1>Angular Pagination</h1>
<main ng-app="MyApp" ng-controller="myCtrl">
  <article>
    <h2>Twitch Streams</h2>
    <section>
      <label for="games">Select a game: </label>
      <select id="games" ng-model="selectGame">
        <option ng-repeat="x in games">{{x}}</option>
      </select>
      <input ng-model="search" placeholder="Search in Twitch Streams"/>
    </section>
    <table rules="rows" bordercolor="#D7C29F" frame="void"> 
      <tr id="head">
        <th>Game</th>
        <th>Viewers</th>
        <th>Stream type</th>
      </tr>
      <tr dir-paginate="x in results | filter: selectGame | filter: search | itemsPerPage: pageSize" current-page="currentPage">
        <td id="game">{{x.game}} </td>
        <td id="viewer">{{x.viewers}}</td>
        <td id="stream_type">{{x.stream_type}}</td>
      </tr>
    </table>
    <dir-pagination-controls direction-links="false" max-size="7"></dir-pagination-controls>
  </article>
</main>
</html>
